$white: #fff;
$black: #000;
$light-white: #F3F5F9;
$shadow: rgba(85, 86, 171, 0.16);
$text-grey: #393B41;
$text-light-grey: #747984;
$border-color: #DADCE0;
$facebook-color: #3B5998;
$google-color: #EA4335;
$button-color: #2D6CC0;
$placeholder-color: #BABEC6;
$lines-color: #D7DCE2;
$error-color: #F02849;
