.formLayout {
  min-height: 100vh;
  position: relative;
  background: url(/background.png) no-repeat center;
  background-size: cover;
  padding: 125px 0 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 0;
  }
}

@media only screen and (max-height: 900px) {
  .formLayout {
    padding: 25px 0;
  }
}
